.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #99aaab;
  color: white;
  text-align: center;
}
.required:before {
  content: "*";
  color: red;
}

.center {
  margin-right: 500px;
  width: 150px;
}
.validation {
  color: red;
  margin-bottom: 20px;
}
#radio {
  margin: 8px;
}
.hobbies {
  padding: 20px;
  text-emphasis: none;
}
.td {
  font-weight: bold;
}
tr#trtime {
  margin-top: auto;
}
td.tdstyle {
  width: 150px;
  /* text-align: center; */
  border: 1px solid #c0bcbc;
  font-weight: none;
  font-size: 15px;
  padding: 5px;
  border-radius: 3px;
}
form {
  font-size: 15px;
  /* text-align: center; */
}
.td {
  font-size: 15px;
}
.validation1 {
  color: grey;
  margin-bottom: 20px;
}
.textstyle {
  border-radius: 3px;
  width: 687px;
  border-width: 1px;
  padding-left: 7px;
  margin-left: 0px;
}
.formstyle {
  /* width: 50%;
  height: 1200px; */
  border: 1px solid #c0bcbc;
  padding: 10px;
  margin-bottom: 4rem;
  padding-bottom: 12px;
  border-radius: 3px;
  font-size: 14px;
}
.multiselect {
  width: 200px;
  height: 40px;
  font-size: 11px;
}
.checkbox {
  font-size: 15px;
}
.labeltext {
  padding-left: 10px;
}
