.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #99aaab;
  color: white;
  text-align: center;
}
.required:before {
  content: "*";
  color: red;
}

.center {
  display: block;
  margin-left: 500px;
  margin-right: 500px;
  width: 20%;
}
.validation {
  color: red;
  margin-bottom: 20px;
}
#radio {
  margin: 8px;
}
.hobbies {
  padding: 8px;
}
.td {
  font-weight: bold;
}
